 <section align="center" class="container-fluid bg-danger">
  <h4 align="center" class="container-fluid bg-danger">Transtaction Failed Try Again</h4>
  
  <fieldset align="center" class ="container-fluid bg-warning">
    <h2 align="center"> Reasons For Transcation Fails </h2>
    <ul align="center">
        <li align="center"><strong>Transction amount accessed 999999.99 RS</strong></li>
        <li align="center"><strong>Quantity Overloaded</strong></li>
        <li align="center"><strong>Wrong Transcation</strong></li>
        <li align="center"><strong>Invalid Information</strong></li>
        <li align="center"><strong>You may canceled transcation between The Session</strong></li>
    </ul>


</fieldset> 

<h5 align="center"><%= link_to "Back", root_path,class: "btn btn-dark" %></h5>
</section>