<fieldset class="container-fluid bg-danger">
<fieldset class="container-fluid bg-info">

	<h1 align="center"> Sorry To Unable To Serve You</h1>
</fieldset>
	

<fieldset class="container-fluid bg-warning" align="center">

	<h1 align="center"><strong> The Product you want to order Is Out of Stock Will be available soon.</strong></h1>
</fieldset>

<h5 align="center"><h5 align="center"><%= link_to "Back", root_path,class: "btn btn-dark" %></h5></h5>
</fieldset>