
<%@comments = @post.comments.all%>
<% @comments.each do |comment|%>
<tr>
<td>
  <%= comment.user %>
</td>
<td>
  <%= comment.comment %>
</td>
</tr>
<% if user_signed_in? %>
 <% if current_user.email == comment.user %>
<td align="center"><%= link_to 'Delete', [comment.post, comment],
               :method => :delete, remote: true,
               data: { confirm: 'Are you sure?' }
                %></td>
 <%end%>
 <%end%>
<%end%>