


<!--  -->
<fieldset class="container p-5 my-5 bg-default">
	<% if user_signed_in? %>
	
	<fieldset align = "center">
		<legend align = "center"><h2>New post</h2></legend>
		<%=render 'form', post: @post%>
	</fieldset>
	<%end%>

	<table align="center" class="table table table-default">
		<thead>
			<tr align="center">
			
				<th align="center", scope="col" >Title</th>
				<th align="center"></th>
				<th align="center" ,scope="col" > User Email </th>
				<th align="center" ,scope="col" > Show</th>
				<% if user_signed_in? %>
				<th align="center" ,scope="col"> </th>
				<th align="center" ,scope="col"> </th>

				<%end%>
			</tr>
		</thead>

		<tbody id='posts'>
			<%= render partial: 'post', posts:@posts %>
		</tbody>
	</table>
	
</fieldset>
